* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
form[data-form] {
  .parent {
    width: 1200px;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -o-moz-aviable;
}
ul {
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}
body {
  background-color: #ffd845;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.divImg {
  border-bottom: 3px solid !important;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
}
.divRight {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.divLeftBottom {
  display: flex;
  align-items: center;
  font-weight: 700;
  position: relative;
  gap: 40%;
}
.divLeft {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.divParent {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 18px;
  font-weight: 700;
}
.type {
  font-weight: 600;
  font-size: 16px;
}
h1 {
  img {
    width: 200px;
  }
}

.d-n {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.parent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

input {
  width: 150px;
  text-align: center;
  padding: 5px;
  font-size: medium;
  border: none;
  outline: none;
}

.btn-primary {
  padding: 5px;
  border: none;
  outline: none;
  margin: 10px;
}
ul {
  li {
    & {
      @media (max-width: 286px) {
        max-width: 260px;
      }
    }
  }
}

.divImg {
  min-width: 260px;
  @media (max-width: 300px) {
    min-width: 10px;
  }
}

select {
  padding: 5px;
  -webkit-border-radius: 13px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

option {
  text-align: center;
}

.divLeftBottom {
  @media (max-width: 300px) {
    gap: 10%;
  }
}

input,
button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
